body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #ff0000;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

nav li a:hover {
    border-bottom: double 4px grey;
}

nav li a:active {
    background-color: #dcdcdc;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.receta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

iframe {
    width: 100%;
    height: 200px;
}

footer {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
    }
}
