body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: salmon;
  }
  
  header {
    background-color: darkred;
    padding: 20px;
    color: white;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  nav ul li:hover {
    border-bottom: double 4px gray;
  }
  
  nav ul li:active {
    background-color: lightgray;
  }
  
  footer {
    background-color: darkred;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  